.betting {
  position: absolute;
  padding: 4px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  border: solid 2px black;
  z-index: 10;
}
