.myHand {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 8vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1;
}

.myHand img {
  width: 100%;
  margin: 1px;
}

.otherHand {
  position: absolute;
  width: 5vw;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.otherHand img {
  width: 100%;
  margin: 1px;
}

.handRank {
  margin-left: 10px;
}
